
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #111; 
    color: #f5f5f5; 
    line-height: 1.6;
}


header {
    background-color: #222; 
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: #e53935;
    font-size: 3rem;
    letter-spacing: 2px;
}


nav {
    display: flex;
    justify-content: center;
    background-color: #333; 
    padding: 15px 0;
}

nav a {
    color: #f5f5f5;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover {
    color: #e53935; 
}


article {
    padding: 20px;
    background-color: #1b1b1b; 
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

article h1, article h2 {
    color: #e53935; 
}

article p {
    color: #d3d3d3; 
    margin: 10px 0;
    line-height: 1.8;
}


.artista {
    background-color: #222; 
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #444; 
}

.artista h2 {
    color: #e53935; 
    font-size: 2rem;
}

.artista p {
    color: #d3d3d3; 
}


.spotify-button {
    display: inline-block;
    background-color: #1DB954; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
}

.spotify-button:hover {
    background-color: #1ed760; 
}


.recommendation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


#recommendationButton, #albumRecommendationButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1DB954; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#recommendationButton:hover, #albumRecommendationButton:hover {
    background-color: #1ed760;
}

footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: #f5f5f5;
}

footer p {
    margin-top: 10px;
}

footer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer form input, footer form textarea {
    background-color: #333;
    border: none;
    padding: 10px;
    color: #f5f5f5;
    border-radius: 5px;
}

footer form button {
    background-color: #e53935;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer form button:hover {
    background-color: #d32f2f;
}

footer form input:focus, footer form textarea:focus {
    outline: none;
    border: 1px solid #e53935;
}
